.about-us {
  padding: 31px 0 58px;

  @media (min-width: $tablet-width) {
    padding: 56px 0 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 89px;
  }
}

.about-us__title {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 39px 175px;
  }
}

// .about-us__wrapper {
//   @media (min-width: $tablet-width) {
//     display: grid;
//     grid-template-columns: 36% 45%;
//     column-gap: 95px;
//   }

//   @media (min-width: $desktop-width) {
//     margin: 0 0 0 175px;
//     grid-template-columns: 246px 340px;
//     column-gap: 103px;
//   }
// }

.about-us__list {
  display: grid;
  row-gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 36% 45%;
    grid-template-rows: auto auto auto;
    column-gap: 95px;
  }

  // &--first {
  //   margin: 0 0 31px;

  //   @media (min-width: $tablet-width) {
  //     margin: 0;
  //     row-gap: 56px;
  //   }
  // }

  // &--second {
  //   @media (min-width: $tablet-width) {
  //     row-gap: 58px;
  //   }
  // }
}

.about-us__item {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    // grid-row: 1/-1;
  }

  &--second {
    @media (min-width: $tablet-width) {
      grid-column: 2/-1;
      // grid-row: 1/2;
    }
  }

  // &--clew {
  //   @media (min-width: $tablet-width) {
  //     grid-column: 2/-1;
  //     grid-row: 1/2;
  //   }
  // }

  // &--rocket {
  //   @media (min-width: $tablet-width) {
  //     grid-column: 2/-1;
  //     grid-row: 2/3;
  //   }
  // }
  // &--gift {
  //   @media (min-width: $tablet-width) {
  //     grid-column: 2/-1;
  //     grid-row: 3/4;
  //   }
  // }
}

.about-us__icon {
  &--flowers {
    margin: 0 0 13px 8px;

    @media (min-width: $desktop-width) {
      margin: 0 0 15px 8px;
    }
  }

  &--money {
    margin: -1px 0 21px;

    @media (min-width: $tablet-width) {
      margin: 0 0 23px;
    }
  }

  &--heart {
    margin: 3px 0 18px 7px;

    @media (min-width: $tablet-width) {
      margin: 4px 0 18px 7px;
    }
  }

  &--clew {
    margin: 0 0 14px 2px;

    @media (min-width: $tablet-width) {
      margin: 0 0 19px;
    }

    @media (min-width: $desktop-width) {
      margin: 3px 0 16px 4px;
    }
  }

  &--rocket {
    margin: 0 0 24px -6px;

    @media (min-width: $tablet-width) {
      margin: 0 0 27px -7px;
    }

    @media (min-width: $desktop-width) {
      margin: 2px 0 25px -5px;
    }
  }

  &--gift {
    margin: 0 0 17px 3px;

    @media (min-width: $tablet-width) {
      margin: 0 0 17px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 17px 4px;
    }
  }
}

.about-us__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
