.button {
  font-family: $main-font;
  display: block;
  border: 2px solid $charcoal;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  padding: 14px 10px;
  text-transform: uppercase;
  color: $charcoal;
  transition: 0.5s;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &:hover {
    background-color: $charcoal;
    color: $white;
  }

  &:active,
  &:focus-visible {
    color: rgba($white, 0.3);
    outline: none;
    background-color: $charcoal;
  }


  &:disabled {
    background-color: rgba($charcoal, 0.3);
    color: rgba($white, 0.3);
    pointer-events: none;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }

  &--second {
    font-family: $main-font;
    display: block;
    border: 2px solid $charcoal;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    padding: 17px 10px;
    text-transform: uppercase;
    width: 100%;
    transition: 0.5s;


    @media (min-width: $tablet-width) {
      padding: 16px 10px;
    }

    &:hover {
      background-color: $charcoal;
      color: $white;
    }

    &:active,
    &:focus-visible {
      color: rgba($white, 0.3);
      outline: none;
      background-color: $charcoal;
    }


    &:disabled {
      background-color: rgba($charcoal, 0.3);
      color: rgba($white, 0.3);
      pointer-events: none;
    }
  }

  &--accent {
    font-size: 17px;
    line-height: 16px;
    color: $white;
    background-color: $downy;
    padding: 18px 10px;
    border: none;

    @media (min-width: $tablet-width) {
      max-width: 350px;
    }


    &:hover {
      background-color: $puertorico;
    }

    &:active,
    &:focus-visible {
      color: rgba($white, 1);
      outline: none;
      background-color: rgba($puertorico, 0.5);
    }
  }
}
