.input {
  padding: 17px 17px 16px 0;
  font-family: $main-font;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba($black, 0.3);
  border: none;
  width: 100%;
  transition: 0.3s;
  box-shadow: inset 0 -2px 0 0 $black;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 24px;
    padding: 13px 17px 13px;
    font-size: 19px;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 0 $darkdowny;
    outline: none;
  }

  &:hover~.form__icon,
  &:active~.form__icon,
  &:focus~.form__icon {
    color: $darkdowny;
    opacity: 1;
  }

  &--error {
    box-shadow: inset 0 -2px 0 0 $error;
  }

  &:disabled {
    box-shadow: inset 0 -2px 0 0 rgba($black, 0.3);
    pointer-events: none;
  }

  &:disabled::placeholder {
    color: rgba($black, 0.2);
  }

  &--phone {
    padding: 18px 17px 20px 0;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 12px 17px 16px 17px;
    }
  }

  &--email {
    padding: 20px 17px 17px 0;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 12px 17px 16px 17px;
    }
  }
}

.input:not(:placeholder-shown) {
  color: $charcoal;
}

.input::placeholder {
  color: rgba($black, 0.3);
}
