.interview {
  padding: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 32px 0;
  }
}

.interview__title {
  padding: 27px 20px 0;
  margin: 0 -20px 37px;
  border-top: 1px solid $silvergrey;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 0 54px;
    padding: 61px 0 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 0;
  }
}

.interview__title-inner {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 41px;
    margin: 0 0 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.interview__form {
  @media (min-width: $tablet-width) {
    padding: 0 37px 0 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.interview__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 69px;
  }
}

.interview__wrapper .interview__fieldset {
  @media (min-width: $desktop-width) {
    flex-basis: 47%;
  }
}

.interview__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.interview__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  padding: 0 22px 0 0;
  margin: 0 0 34px 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px -1px;
    padding: 0 41px 0 0;
  }

  &--space {
    @media (max-width: $mobile-width-only) {
      width: 73%;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      margin: 0 0 58px 0;
    }
  }
}

.interview__legend::before {
  position: absolute;
  content: "";
  left: 100%;
  width: 100vw;
  height: 2px;
  background-color: $green;
  z-index: -1;
  top: 14px;

  @media (min-width: $tablet-width) {
    top: 23px;
  }
}

.interview__legend::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    right: calc(100% + 39px);
    width: 100vw;
    height: 2px;
    background-color: $green;
    z-index: -1;
    top: 23px;
  }
}

.interview__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--info {
    margin: 0 -20px;
    padding: 0 20px 22px;
    border-bottom: 1px solid $silvergrey;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      margin: 0 0 73px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--radio {
    margin: 0 -20px 26px;
    padding: 23px 20px 16px;
    border-bottom: 1px solid $silvergrey;

    @media (min-width: $tablet-width) {
      margin: 0 0 74px;
      padding: 25px 27px 24px;
      border: 1px solid $silvergrey;
    }

    @media (min-width: $desktop-width) {
      padding: 27px 31px 24px;
      margin: 0;
    }
  }

  &--owner {
    margin: 0 0 26px;

    @media (min-width: $tablet-width) {
      margin: 0 0 65px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px 78px;
    }
  }

  &--owner .interview__item {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--checkbox {
    margin: 0 0 33px 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 51px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 33px 51px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 20%);
      justify-content: space-between;
      row-gap: 30px;
      margin: 0 0 59px;
    }
  }
}


.interview__item {
  margin: 0 0 14px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      margin: 0 0 13px 0;
    }
  }

  &--owner {
    position: relative;
  }

  &--checkbox {
    margin: 0 0 12px 0;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.interview__item:last-child {
  margin: 0;
}


.interview__icon {
  position: absolute;
  top: 16px;
  right: 16px;

  @media (min-width: $tablet-width) {
    top: 19px;
    right: 18px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.interview__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 15px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--control {
    margin: -3px 0 0 0;
    padding: 0 0 0 15px;
    color: $accentgrey;

    @media (min-width: $tablet-width) {
      padding: 0 0 0 20px;
    }
  }

  &--color {
    color: $black;
  }

  &--owner {
    margin: 0 10px 0 0;

    @media (min-width: $tablet-width) {
      margin: 0 21px 0 0;
    }
  }
}

.interview__label-radio {
  display: flex;
  align-items: center;
}

.interview__label-radio:hover .interview__control-mark,
.interview__label-checkbox:hover .interview__control-mark {
  border: 1px solid $disabledgrey;
}


.interview__label-radio:hover .interview__control-mark::after,
.interview__label-checkbox:hover .interview__control-mark::after {
  transform: scale(1.2);
}

.interview__label-radio:active .interview__control-mark,
.interview__label-checkbox:active .interview__control-mark {
  border: 1px solid $darkgrey;
}

.interview__label-radio:focus-within .interview__label,
.interview__label-checkbox:focus-within .interview__label {
  opacity: 0.5;
}


.interview__label-radio .interview__control-mark {
  border-radius: 50%;
}

.interview__label-checkbox {
  display: flex;
  align-items: center;
}


.interview__control-mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $darkbasegrey;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.interview__input-radio:checked + .interview__control-mark::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: $green;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}

.interview__input-checkbox:checked + .interview__control-mark::after {
  content: "";
  position: absolute;
  background-image: url("../img/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
}

.interview__input-radio:disabled + .interview__control-mark,
.interview__input-checkbox:disabled + .interview__control-mark {
  border-color: rgba($disabledgrey, 0.3);
  pointer-events: none;
}

.interview__input-radio:disabled + .interview__control-mark::after,
.interview__input-checkbox:disabled + .interview__control-mark::after {
  opacity: 0.3;
}

.interview__input-radio:disabled ~ .interview__label--control,
.interview__input-checkbox:disabled ~ .interview__label--control {
  color: rgba($accentgrey, 0.3);
  pointer-events: none;
}

.interview__textarea {
  font-family: $main-font;
  font-size: 16px;
  color: $darkgrey;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 11px 9px 15px;
  resize: none;
  border: 1px solid $grey;
  min-height: 150px;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 11px 12px 18px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px 0;
  }
}

.interview__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 39px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 1fr;
    column-gap: 82px;
    margin: 0 0 49px;
  }
}

.interview__button {
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 282px;
    margin: 0;
  }
}

.interview__button.button--second {
  @media (max-width: $mobile-width-only) {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
  }
}


.interview__text-remark {
  font-family: $second-font;
  display: block;
  line-height: 18px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 0 110px 0 0;
    margin: -6px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
