.main-nav__wrapper {
  position: relative;
  display: flex;
  box-shadow: 0 1px 0 0 $whisper, inset 0 1px 0 0 $whisper;
  z-index: 4;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin: 0;
    z-index: 6;
  }
}

.main-nav__logo {
  display: flex;
  margin: 0 auto;
  padding: 21px 0;
  transition: opacity 0.3s ease-out;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding: 22px 0 0 50px;
    margin: 0 0 0 -3px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    top: 50%;
    transform: translate(-49%, 12%);
    padding: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus-visible {
    opacity: 0.3;
    outline: none;
  }
}

.main-nav__logo-image {
  width: auto;
}

.main-nav--open .main-nav__toggle-line:first-child {
  top: 6px;
  transform: rotate(45deg);
}

.main-nav--open .main-nav__toggle-line:nth-child(2) {
  transform: rotate(-45deg);
}

.main-nav--open .main-nav__toggle-line:nth-child(3) {
  bottom: 6px;
  transform: scale(0);
}

.main-nav__toggle {
  display: block;
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus-visible {
    opacity: 0.3;
    outline: none;
  }
}

.main-nav__toggle-line {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  right: 0;
  display: block;
  background-color: $aubergine;
  transition: 0.3s;
}

.main-nav__toggle-line:first-child {
  top: 0;
}

.main-nav__toggle-line:nth-child(2) {
  top: 6px;
}

.main-nav__toggle-line:nth-child(3) {
  bottom: 0;
}


.main-nav__container {
  background-color: $white;
  transition: left 0.5s;

  @media (min-width: $tablet-width) {
    transition: 0s;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 50px;
    grid-template-rows: auto auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 432px 183px 432px 1fr;
    grid-template-rows: auto auto;
  }
}

.main-nav__container::before {
  @media (min-width: $tablet-width) {
    content: "";
    grid-row: 2/-1;
    grid-column: 1/-1;
    background-color: $snow;
    border-top: 1px solid rgba($black, 0.1);
    z-index: 5;
  }
}

.main-nav__container--accent::before {
  @media (min-width: $tablet-width) {
    background-color: $whitesmoke;
  }
}

.main-nav--closed .main-nav__container {
  @media (max-width: $mobile-width-only) {
    position: fixed;
    left: 100%;
    width: 100%;
    z-index: 66;
  }
}

.main-nav--open .main-nav__container {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 100%;
    z-index: 6;
    background-color: $white;
    left: 0;
  }
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    grid-row: 2/-1;
    grid-column: 2/4;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    max-width: 44%;
  }

  @media (min-width: $desktop-width) {
    max-width: 36%;
  }
}

.main-nav__list .main-nav__link {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 33px 36px 31px 0;
    height: 100%;
  }

  &--border {
    @media (min-width: $desktop-width) {
      border-right: 1px solid rgba($black, 0.1);
    }
  }
}


.main-nav__list .main-nav__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin: 0 23px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 35px 0 0;
  }
}


.main-nav__user {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    grid-column: 3/5;
    grid-row: 1/2;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.main-nav__item,
.main-nav__user-item {
  @media (max-width: $mobile-width-only) {
    box-shadow: 0 1px 0 0 $whisper, inset 0 1px 0 0 $whisper;
  }
}

.main-nav__user-item:last-child {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $whisper;
  }
}

.main-nav__user-item {
  @media (min-width: $tablet-width) {
    max-width: 66%;
  }
}

.main-nav__link {
  color: $black;
  display: block;
  line-height: 24px;
  padding: 28px 10px 26px 76px;
  transition: opacity, color 0.3s;

  @media (min-width: $tablet-width) {
    text-align: start;
    padding: 22px 13px 22px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus-visible {
    opacity: 0.3;
    outline: none;
  }
}

.main-nav__user-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 29px 10px 26px 31px;
  color: rgba($black, 0.2);

  @media (min-width: $tablet-width) {
    padding: 33px 0 31px 31px;
    border-left: 1px solid rgba($black, 0.1);
    height: 100%;
  }

  &--search {
    @media (min-width: $tablet-width) {
      min-width: 83px;
      height: 100%;
    }
  }

  &:hover {
    color: $downy;
    opacity: 1;
  }

  &:active .main-nav__user-icon {
    color: $downy;
    opacity: 0.3;
  }

  &:hover .main-nav__user-text {
    opacity: 0.6;
  }

  &:active .main-nav__user-text {
    opacity: 0.3;
  }
}

.main-nav__user-icon {
  margin: 0 25px 0 0;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    margin: 0 31px 0 0;
  }

  &--search {
    @media (min-width: $tablet-width) {
      margin: auto auto auto 2px;
    }
  }
}

.main-nav__user-text {
  color: $black;
  transition: all 0.3s;

  &--search {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__text {
  position: relative;
  margin: 0;
  display: none;

  @media (min-width: $tablet-width) {
    grid-row: 2/-1;
    grid-column: 4/5;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    color: $charcoal;
    z-index: 5;
    align-self: center;
    padding: 22px 0 22px 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/-1;
    grid-column: 4/5;
  }
}


.main-nav__offers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 2/-1;
    grid-column: 2/4;
    z-index: 5;
  }
}

.main-nav__offers .main-nav__offers-item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin: 0 49px 0 0;
  }
}

.main-nav__offers-item {
  max-width: 30%;
}

.main-nav__offers-link {
  font-size: 15px;
  line-height: 24px;
  padding: 21px 14px 20px 0;
}
