.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  z-index: 10;
  display: none;

  &--open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal__wrapper {
  width: 100%;
  padding: 30px 0 46px;
  background-color: $white;
  border-top: 1px solid $silver;
  border-bottom: 1px solid $silver;
  box-shadow: 0 5px 10px rgba($black, 0.25);

  @media (min-width: $tablet-width) {
    max-width: 566px;
    border: 1px solid $silver;
  }
}

.modal__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin: 0 0 11px;
  }
}

.modal__fieldset {
  border: none;
  padding: 0;
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $charcoal;
  margin: 0 0 19px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 20px;
  }
}

.modal__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin: 0 0 31px;
}

.modal__input-checkbox:checked + .modal__label {
  border: 2px solid $downy;
}

.modal__input-checkbox:focus-visible + .modal__label {
  border: 2px solid $downy;
}

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $charcoal;
  min-width: 82px;
  min-height: 52px;
  padding: 5px 5px;
  text-align: center;
  border: 2px solid rgba($charcoal, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 112px;
  }

  &:hover {
    border: 2px solid rgba($charcoal, 0.3);
  }

  &:active {
    color: rgba($charcoal, 0.25);
  }

  &:focus-visible {
    border: 2px solid $downy;
  }
}
