.slider {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    margin: 0 0 0 174px;
  }
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__reviews {
  margin: 0 0 33px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin: 0 0 63px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 43px;
  }
}

.slider__author {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0;
    max-width: 70%;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.slider__author-link {
  display: block;
  color: $charcoal;
  line-height: 30px;
  padding: 3px 0 0 0;
  font-weight: 400;
  align-self: flex-start;
  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }
}
