.title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: $black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }


  &--second {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;
    text-align: start;

    @media (min-width: $tablet-width) {
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
