$main-font: "OpenSans", "Arial", sans-serif;
$main-fontbold: "OpenSans", "Arial", sans-serif;
$white: #ffffff;
$aubergine: #231f20;
$black: #000000;
$snow: #f9f9f9;
$downy: #63d1bb;
$darkdowny: #62d1ba;
$lightdowny: #59d5bc;
$puertorico: #56c3b2;
$lightpuertorico: #46c1ae;
$charcoal: #444444;
$whitesmoke: #f1f1f1;
$whisper: #ececec;
$darkwhisper: #e5e5e5;
$silver: #c6c6c6;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
